.navbar-item{
    color: white;
    font-weight: bold;
    background-color:white;
}
.container {
    display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center !important;
  }
.button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: black;
    background-color:white;
    display: flex;
    flex-direction: column;
}
.slide-container {
    width: 100%;
    margin: auto;
    }  
    .btn-outline-light{
      background-attachment: fixed;
      color: black;
     margin-left: 15px;
     font:  italic small-caps bold 12px/30px Georgia, serif;
    }
    .welcomeMesssage{
      color: rgb(128, 243, 237);
      font: "Comic Sans MS", cursive, sans-serif;
      font-size: 60px;
      font-style: italic;
     
    }
    .login{
      color: #007bff !important;
      font:  bold 12px/30px Georgia, serif !important;
      font-size: 20px !important;
    
   
    }
    .user{
      color: #0400dd !important;
      font-size: 100px !important;
      /* margin-left: 100px; */
      justify-content: center !important;
    
    }
    .table {
      width: 100%;
       margin-bottom: 0rem !important; 
      color: #212529;
  }
 
    .form-label{
      font-size: 20px !important;
      margin-left: 20px !important;
  
    }
    .input{
      font-size: 20px !important;
      margin-left: 170px !important;

    }
    .popup{
      margin-left: 170px !important;
      width: 100% !important;
      justify-content: center !important;
    }
     .loop{
      color: rgb(255, 0, 179) !important;
      font-size: 20px !important;
    }
    
.style {
  position: relative;
  background: rgb(255, 255, 255);
   /* width: 70% !important;  */
  margin: auto;
  border: 1px solid rgb(187, 187, 187);
  padding: 5px;
}
.form {
  display: block;
  /* margin-top: 0em; */
  height: 400px !important;
}
    